.form-wrapper {
    display: flex;
}

.form-wrapper-button {
    width: 50px;
    height: 26px;
    border: 1px solid black;
    border-radius: 7px;
    margin: 0 auto;
}

.form-wrapper-button:active {
    background-color: rgb(201, 201, 201);

}